* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* navbar--------------------------------- */
.navbar-toggler {
    background-color: black;
    outline: none;
}

.navbar-toggler i {
    font-size: 40px;
    color: rgb(44, 209, 209);
}

.navbar-collapse {
    background-color: black;
}

.navbar .collapse a {
    color: white;
    letter-spacing: 1px;
}

.navbar .collapse a:hover {
    background-color: black;
    color: rgb(44, 209, 209);
}

/* end of navbar--------------------------- */
/* home section----------------------------- */

.home-section {
    background-color: black;
    height: 100vh;
    color: #fff;
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
}

.hom-content {
    padding: 80px 120px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgb(44, 209, 209);
}

.home-section h1 {
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 2;
    color: #fff;
}

.home-section h4 {
    letter-spacing: 2px;
}

.home-section p {
    margin-top: 5px;
    font-size: 18px;
}

.home-section .btn {
    background-color: rgb(44, 209, 209);
    color: black;
    padding: 20px 50px;
    cursor: pointer;
}

.home-section .btn:hover {
    box-shadow: 0px 0px 20px 5px rgb(44, 209, 209);
}

.home-section .social i {
    color: #fff;
    cursor: pointer;
}

.home-section .social i:hover {
    color: rgb(44, 209, 209);
    transform: rotate(360deg);
    transition: 0.8s;
}

/* end of home section-------------------------------- */

/* about section--------------------------------------- */
#about .col {
    margin: 150px 0;
}

.about-box {
    transition: all ease-in-out 0.5s;
}

.about-box h2 {
    letter-spacing: 2px;
}

.about-box p {
    line-height: 2em;
}

.about-box a {
    cursor: pointer;
}

.about-box a:hover {
    box-shadow: 0px 0px 20px 5px rgb(82, 86, 86);
}

/* end of about section-------------------------------------- */

/* skills section----------------------------------------------- */
.skills-section {
    background: black;
    width: 100%;
}

.skills-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.skills-section .col {
    width: 100%;
}

.skills-section h2 {
    padding-top: 65px;
    margin-bottom: 30px;
    color: #4ba8ad;
    letter-spacing: 2px;
}

.skills-section h5 {
    letter-spacing: 1px;
}

#skills .col h6 span {
    float: inline-end;
    font-size: 14px;
}

#skills .progress {
    height: 8px;
}

#skills .progress-bar {
    background-color: teal;
    animation: progress 3s ease-in-out forwards;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* skills section-------------------------------------------- */

/* qualification section-------------------------------------- */
.qualification {
    background-color: #bebebe;
}

.qualification .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qualification h2 {
    letter-spacing: 2px;
}

.qualification h3 {
    color: rgb(9, 75, 75);
}

.timeline {
    /* border-left: 3px solid rgb(185, 116, 116); */
    border-left: 3px solid rgb(9, 75, 75);
    margin: 30px 0 30px 25px;
    padding-left: 15px;
    transition: all ease-in-out 0.5s;
}


.timeline ul {
    padding-left: 0;
}

.timeline ul li {
    /* padding: 10px; */
    position: relative;
    list-style-type: none;
}

.timeline .card {
    width: 300px;
    height: 150px;
    background-color: #e5e5e5;
    position: relative;
    border-radius: 10px 50px;
    box-shadow: 8px 9px 18px 0px #5c5c5c;
    transition: all ease-in-out 0.5s;
}

.timeline .card::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(9, 75, 75);
    position: absolute;
    top: -2px;
    left: -24px;
}

.timeline .card-title p {
    color: rgb(9, 75, 75);
}

/* end of qualification--------------------------------------- */

/* services section------------------------------------------ */
#services {
    /* background: radial-gradient(circle, #07323d, #3A6073); */
    height: 100vh;
    width: 100%;
    background-image: url("../images/bg-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#services h2 {
    letter-spacing: 2px;
    color: rgb(95, 214, 216);
    padding: 70px 0;
}

#services .card {
    box-shadow: 0px 0px 20px 4px white inset;
    transition: all ease-in-out 0.3s;
}

#services .card:hover {
    box-shadow: 0px 0px 20px 4px white;
    transform: scale(1.1);
}

#services i {
    font-size: 100px;
    color: rgb(88, 200, 202);
}

#services .card-body a {
    background-color: rgb(88, 200, 202);
    color: black;
    cursor: pointer;
}

#services .card-body a:hover {
    background-color: #fff;
    color: rgb(13, 71, 71);
}

#services .modal-header {
    background-color: rgb(7, 111, 111);
    color: #fff;
}

#services .modal-content {
    color: rgb(6, 72, 72);
}

/* end of services----------------------------------------------- */
/* portfolio -------------------------------------------*/
#portfolio {
    background: radial-gradient(grey, white);
    padding: 75px 0;
    height: 100vh;
}

#portfolio h2 {
    letter-spacing: 2px;
    color: rgb(6, 72, 72);
}

.portfolio-section {
    padding: 60px 0;
}

.portfolio-section .row {
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: auto;
}

.portfolio-section .col {
    position: relative;
    height: 100%;
}

.portfolio-section .row img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #605f5f;
    transition: transform 0.5s;
}

.portfolio-section .work-details {
    width: 0;
    height: 0;
    background: linear-gradient(rgb(112, 176, 198), rgb(26, 62, 100), rgb(112, 176, 198));
    color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: height 0.5s;
}

.portfolio-section .work-details p {
    font-size: medium;
}

.portfolio-section .col:hover .work-details {
    width: 310px;
    height: 250px;
    color: white;
}


/* end of portfolio------------------------------------- */

/* contact section----------------------------------------------- */
#contact {

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 80px 0;
}

.contact-section {
    position: relative;
    display: flex;
    width: 1200px;
    height: 600px;
}

.contact-info {
    padding-left: 10px;
    position: absolute;
    top: 40px;
    width: 350px;
    z-index: 1;
    background-color: rgb(9, 75, 75);
    box-shadow: -10px 20px 50px rgb(103, 101, 101);
    transition: all ease-in-out 0.5s;
}

.contact-info .card {
    background-color: rgb(9, 75, 75);
}

.contact-info .card a {
    text-decoration: none;
    color: white
}

.contact-info h4 {
    letter-spacing: 1px;
}

.contact-form {
    position: absolute;
    top: 0px;
    left: 210px;
    height: 100%;
    width: 85%;
    padding-left: 140px;
    background-color: #c7aba3;
    box-shadow: 10px 50px 50px rgb(103, 101, 101);
    transition: all ease-in-out 0.5s;
}

.contact-form h2 {
    color: rgb(9, 75, 75);
    letter-spacing: 1px;
}

.contact-form form {
    height: 100%;
    padding: 0 25px 1px 40px;
}

.contact-form form button {
    background-color: rgb(9, 75, 75);
}

/* end of contact----------------------------- */
/* footer */
.foot {
    padding: 30px 0;
    background-color: black;
}

.foot-links a,
.foot-social a {
    text-decoration: none;
    color: #fff;
    margin: 5px 8px;
}

.foot-links a:hover,
.foot-social a:hover {
    color: rgb(44, 209, 209);
}

.back-to-top i {
    color: slategrey;
    font-size: 30px;
}


/* -----------------------------------------------MEDIA QUERIES ---------------------------------------------- */
@media(width<992px) {

    /* navbar -----------------------*/

    .navbar-collapse {
        border-radius: 10px;
        height: 95vh;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-collapse li {
        padding: 40px 0;
    }

    .navbar-collapse li a {
        font-size: 30px;
    }

    /* end of navbar--------------------------- */
    /* home section----------------------------- */
    .hom-content {
        padding: 40px 35px;
        margin: 0 25px;
    }

    .home-section h1 {
        font-size: 55px;
        letter-spacing: 1px;
        line-height: 2;
    }

    .home-section h3 {
        line-height: 1;
    }

    .hom-content p {
        line-height: 1;
        font-size: 20px;
        margin: 25px 0;
    }

    /* end of home section-------------------------------- */

    /* about section--------------------------------------- */
    #about .col {
        margin: 150px 0;
    }

    .about-box h2 {
        letter-spacing: 2px;
        line-height: 3;
    }

    .about-box p {
        line-height: 2em;
        font-size: 20px;
    }

    .about-box a {
        margin: 30px 0;
        padding: 0 10px;
        font-size: 18px;
    }

    /* end of about section-------------------------------------- */
    /* skills-------------------------------------------- */
    .skills-section .container {
        padding: 30px 0;
    }

    /* end of skills-------------------------------------- */
    /* qualification------------------------------------- */
    .qualification {
        padding: 35px 0;
    }

    /* end of qualification------------------------------- */
    /* services------------------------------------------------- */
    #services .col {
        margin: 55px 0;
    }

    #services h2 {
        padding: 60px 0;
    }

    /* 
    /* #services .card {
        padding: 15px 0;
    } */
    */ #services .card h4 {
        font-size: 30px;
    }

    #services i {
        font-size: 80px;
    }

    #services p {
        font-size: 20px;
    }

    #services a {
        font-size: 25px;
    }

    /* end of services------------------------------------------- */
    /* contact section----------------------------------------------- */

    .contact-section {
        width: 1200px;
        height: 600px;
    }

    .contact-info {
        padding-left: 10px;
        left: 15px;
        width: 300px;
    }

    .contact-form {
        width: 70%;
        padding-left: 80px;
    }

    /* end of contact----------------------------- */
}


@media(width<576px) {

    /* navbar -----------------------*/
    .navbar-collapse {
        border-radius: 10px;
        height: 90vh;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-collapse li {
        padding: 30px 0;
    }

    .navbar-collapse li a {
        font-size: 20px;
    }

    /* end of navbar--------------------------- */
    /* home section----------------------------- */
    .hom-content {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 35px 35px;
        margin: 15px;
    }

    .home-section h1 {
        font-size: 50px;
        letter-spacing: 1px;
        line-height: 2;
    }

    .home-section h3 {
        line-height: 1;
    }

    .home-section p {
        margin-top: 10px;
        line-height: 2;
        font-size: 18px;
    }

    /* end of home section-------------------------------- */
    /* about section--------------------------------------- */
    #about .col {
        margin: 0;
    }

    .about-box h2 {
        letter-spacing: 2px;
        margin: 35px 0;
    }

    .about-box p {
        line-height: 2;
        font-size: 18px;
    }

    .about-box a {
        margin: 30px 0;
        font-size: 18px;
    }

    /* end of about section-------------------------------------- */
    /* skills ----------------------------------------------------*/
    .skills-section .container {
        flex-direction: column;
    }

    /* end of skills------------------------------------------------ */
    /* services section------------------------------------------ */
    #services .col {
        margin: 18px 0;
    }

    #services h2 {
        padding: 20px 0;
    }

    #services .card h4 {
        font-size: 20px;
    }

    #services i {
        font-size: 50px;
    }

    #services p {
        font-size: 18px;
    }

    #services a {
        font-size: 18px;
    }

    /* end of services */

    /* portfolio------------------------------ */
    #portfolio {
        padding: 32px 0;
        height: auto;
    }

    .portfolio-section {
        padding: 0;
    }

    .portfolio-section .row {
        width: 80%;
    }

    /* end of portfolio------------------------- */
    /* contact--------------------------- */
    #contact {
        align-items: flex-start;
        height: auto;
    }

    .contact-section {
        min-width: 380px;
        height: 135vh;
    }

    .contact-info {
        top: 0;
        left: 45px;
        width: 300px;
        box-shadow: 0;
    }

    .contact-form {
        top: 350px;
        left: 15px;
        width: 350px;
        height: 60%;
        padding: 50px 0 0 0;
        box-shadow: 0px 20px 50px 0px rgb(103, 101, 101)
    }

    .contact-form form {
        height: 100%;
        padding: 0 25px 1px 40px;
    }

    /* end of contact section----------------------------------- */
    .foot-links {
        flex-direction: column;
    }

    .foot-links .col2 {
        margin: 5px 0;
    }

    .foot-links a,
    .foot-social a {
        text-decoration: none;
        color: #fff;
        margin: 10px 3px;
    }
}