* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}



/* navbar--------------------------------- */
.navbar .collapse a {
    color: white;
    letter-spacing: 1px;
}

.navbar-toggler i {
    font-size: 30px;
}

.navbar-collapse {
    background-color: black;
}

.navbar .collapse a:hover {
    background-color: black;
    color: white;
}

/* end of navbar--------------------------- */
/* home section----------------------------- */
.home-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
}

.home-section h1 {
    font-size: 55px;
    letter-spacing: 1px;
}

.home-section h3 {
    letter-spacing: 2px;
}

.home-section p {
    margin-top: 5px;
    font-size: 18px;
}

#home {
    background-image: url("../images/bg-1.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

/* end of home section-------------------------------- */
/* about section--------------------------------------- */
#about .col {
    margin: 150px 0;
}

.about-box {
    transition: all ease-in-out 0.5s;
}

.about-box h2 {
    letter-spacing: 2px;
}

.about-box p {
    line-height: 2em;
}

/* end of about section-------------------------------------- */

/* skills section----------------------------------------------- */
.skills-section {
    background-image: url("../images/bg-2.jpg");
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.skills-section h2 {
    padding-top: 85px;
    margin-bottom: 30px;
    color: rgb(12, 189, 189);
    letter-spacing: 2px;
}

.skills-section h4 {
    letter-spacing: 1px;
}

.skills-section .col {
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

#skills .progress-bar {
    background-color: teal;
    border-radius: 6px;
    animation: progress 3s ease-in-out forwards;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* skills section-------------------------------------------- */

/* qualification section-------------------------------------- */
.qualification {
    background-color: #bebebe;
}

.qualification h2 {
    letter-spacing: 2px;
}

.qualification h3 {
    color: rgb(9, 75, 75);
}

.timeline {
    /* border-left: 3px solid rgb(185, 116, 116); */
    border-left: 3px solid rgb(9, 75, 75);
    margin: 30px 0 30px 40px;
    padding-left: 15px;
    transition: all ease-in-out 0.5s;
}


.timeline ul {
    padding-left: 0;
}

.timeline ul li {
    /* padding: 10px; */
    position: relative;
    list-style-type: none;
}

.timeline .card {
    width: 300px;
    height: 150px;
    background-color: #e5e5e5;
    position: relative;
    border-radius: 10px 50px;
    box-shadow: 8px 9px 18px 0px #5c5c5c;
    transition: all ease-in-out 0.5s;
}

.timeline .card::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(9, 75, 75);
    position: absolute;
    top: -2px;
    left: -24px;
}

.timeline .card-title p {
    color: rgb(9, 75, 75);
}

/* end of qualification--------------------------------------- */

/* services section------------------------------------------ */
#services {
    background: radial-gradient(circle, #16222A, #3A6073);
    height: 100vh;
}

#services h2 {
    letter-spacing: 2px;
    color: rgb(88, 200, 202);
    padding: 70px 0;
}

#services .card {
    box-shadow: 0px 0px 20px 4px white inset;
    transition: all ease-in-out 0.3s;
}

#services .card-body a {
    background-color: rgb(88, 200, 202);
    cursor: pointer;
}

#services i {
    font-size: 100px;
    color: rgb(88, 200, 202);
}

/* end of services----------------------------------------------- */
/* portfolio -------------------------------------------*/
#portfolio {
    background-color: rgb(251, 255, 255);
    padding: 75px 0;
    height: 100vh;
}

#portfolio h2 {
    letter-spacing: 2px;
}

.portfolio-section {
    padding: 60px 0;
}

.portfolio-section .row {
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: auto;
}

.portfolio-section .col {
    position: relative;
    height: 100%;
}

.portfolio-section .row img {
    width: 300px;
    /* height: 215px; */
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #605f5f;
    transition: transform 0.5s;
}

.portfolio-section .work-details {
    width: 305px;
    height: 250px;
    height: 0;
    background: linear-gradient(rgb(1, 18, 21), rgb(112, 176, 198));
    color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: height 0.5s;
}

.portfolio-section .work-details p {
    font-size: medium;
}

.portfolio-section .col:hover .work-details {
    width: 310px;
    height: 250px;
    color: white;
}


/* end of portfolio------------------------------------- */

/* contact section----------------------------------------------- */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    height: auto;
    padding: 80px 0;
}

.contact-section {

    position: relative;
    display: flex;
    width: 1200px;
    height: 600px;
}

.contact-info .card {
    background-color: rgb(9, 75, 75);
}

.contact-info {
    padding-left: 10px;
    position: absolute;
    top: 40px;
    /* left: 200px; */
    width: 350px;
    z-index: 1;
    background-color: rgb(9, 75, 75);
    box-shadow: -10px 20px 50px rgb(103, 101, 101);
    transition: all ease-in-out 0.5s;
}

.contact-info h4 {
    letter-spacing: 1px;
}

.contact-form {
    position: absolute;
    top: 0px;
    left: 210px;
    height: 100%;
    width: 85%;
    padding-left: 140px;
    background-color: #c7aba3;
    box-shadow: 10px 50px 50px rgb(103, 101, 101);
    transition: all ease-in-out 0.5s;
}

.contact-form h2 {
    color: rgb(9, 75, 75);
    letter-spacing: 1px;
}

.contact-form form {
    height: 100%;
    padding: 0 25px 1px 40px;
}

.contact-form form button {
    background-color: rgb(9, 75, 75);
}

/* end of contact----------------------------- */
/* footer */
.foot {
    padding: 30px 0;
}


@media(width<768px) {

    /* navbar -----------------------*/
    .navbar-toggler i {
        border: 0;
    }

    .navbar-collapse {
        border-radius: 10px;
        height: 90vh;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-collapse li {
        padding: 35px 0;
    }

    .navbar-collapse li a {
        font-size: 30px;
    }

    /* end of navbar--------------------------- */
    /* home section----------------------------- */
    .home-section h1 {
        font-size: 55px;
        letter-spacing: 1px;
        line-height: 2;
    }

    .home-section h3 {
        line-height: 1;
    }

    .hom-content p {
        line-height: 2;
        font-size: 20px;
    }

    /* end of home section-------------------------------- */

}

/* about section--------------------------------------- */
#about .col {
    margin: 120px 0;
}

.about-box h2 {
    letter-spacing: 2px;
    line-height: 3;
}

.about-box p {
    line-height: 2em;
    font-size: 20px;
}

.about-box a {
    margin: 30px 0;
    font-size: 20px;
}

/* end of about section-------------------------------------- */

/* contact section----------------------------------------------- */

.contact-section {
    width: 1200px;
    height: 600px;
}

.contact-info {
    padding-left: 10px;
    left: 15px;
    width: 300px;
}

.contact-form {
    width: 70%;
    padding-left: 80px;
}

/* end of contact----------------------------- */

@media(width<576px) {

    /* navbar -----------------------*/
    .navbar-toggler i {
        border: 0;
    }

    .navbar-collapse {
        border-radius: 10px;
        height: 90vh;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-collapse li {
        padding: 20px 0;
    }

    .navbar-collapse li a {
        font-size: 20px;
    }

    /* end of navbar--------------------------- */
    /* home section----------------------------- */
    .home-section h1 {
        font-size: 50px;
        letter-spacing: 1px;
        line-height: 2;
    }

    .home-section h3 {
        line-height: 1;
    }

    .home-section p {
        margin-top: 10px;
        line-height: 2;
        font-size: 18px;
    }

    /* end of home section-------------------------------- */
    /* about section--------------------------------------- */
    #about .col {
        margin: 0;
    }

    .about-box h2 {
        letter-spacing: 2px;
        margin: 30px 0;
    }

    .about-box p {
        line-height: 2;
        font-size: 18px;
    }

    .about-box a {
        margin: 30px 0;
        font-size: 18px;
    }

    /* end of about section-------------------------------------- */
    /* services section------------------------------------------ */
    #services h2 {
        padding: 5px 0;
    }

    #services .card h4 {
        font-size: 20px;
    }

    #services i {
        font-size: 20px;
    }

    /* end of services */

    /* portfolio------------------------------ */
    #portfolio {
        padding: 32px 0;
        height: auto;
    }

    .portfolio-section {
        padding: 0;
    }

    .portfolio-section .row {
        width: 80%;
    }

    /* end of portfolio------------------------- */
    /* contact--------------------------- */
    #contact {
        align-items: flex-start;
        height: auto;
    }

    .contact-section {
        min-width: 380px;
        height: 135vh;
    }

    .contact-info {
        top: 0;
        left: 45px;
        width: 300px;
        box-shadow: 0;
    }

    .contact-form {
        top: 350px;
        left: 15px;
        width: 350px;
        height: 60%;
        padding: 50px 0 0 0;
        box-shadow: 0px 20px 50px 0px rgb(103, 101, 101)
    }

    .contact-form form {
        height: 100%;
        padding: 0 25px 1px 40px;
    }

    /* end of contact section----------------------------------- */
}